.tamtam-hero-block {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;

        .content {
            flex: 0 0 455px;
            max-width: 455px;
            width: 455px;

            .hero_title {
                font-size: 50px;
                margin-bottom: 25px;
                line-height: 1.2;
            }

            p {
                font-size: 26px;
            }

            .highlight {
                color: $purple;
            }

            .btn {
                margin-top: 40px;
                letter-spacing: 0.3em;
            }
        }

        .img-wrapper {
            flex: 0 0 1000px;
            max-width: 1000px;
            width: 1000px;
        }
    }
}