.btn {
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    display: inline-block;

    @include for-tablet {
        font-size: 1.6rem;
    }

    &-accept {
        background: $green;
    }

    &-danger {
        background: $danger;
    }

    &-purple {
        background: $purple;
    }

    &-lg {
        padding: 2.4rem 4rem;

        @include for-tablet {
            padding: 0.8rem 2.4rem;
        }
    }

    &-m {
        padding: 1rem 2rem;
    }

    &-rounded {
        @include borderRadius(7.6rem);
    }
}